<div class="b-search">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-7" data-mh="b-search-gr">
                {{> Atoms-logo }}
            </div>
            <div class="col-sm-5 hidden-xs" data-mh="b-search-gr">
                <form action="#" class="search-form">
                    {{> Atoms-search-field }}
                    {{> Atoms-search-btn }}
                </form>
            </div>
        </div>
    </div>
</div>