<ul class="b-breadcrumb">
    {{#breadcrumb-list}}
        <li>
            <a href="#">{{page-name}}</a>
        </li>
    {{/breadcrumb-list}}
    <li>
        <a href="#">{{breadcrumb-last}}</a>
    </li>
</ul>