<div class="teaser teaser-type-2" data-mh="teaser-gr-2">
  <div class="teaser__thumbnail">
    {{> Atoms-image }}
  </div>
  <div class="teaser__title">
    {{> Atoms-teaser-date }} {{> Atoms-titles }}
  </div>
  <div class="teaser__desc">
    {{> Atoms-paragraph }}
  </div>
  <div class="teaser__more-link">
    {{> Atoms-link }}
  </div>
</div>