<div class="section-title {{#section-title-inverse}}section-title__inverse{{/section-title-inverse}}">
    {{> Atoms-titles }}
    {{#more-link}}
        <span class="more-link-at-title">
            {{> Atoms-link }}
        </span>
    {{/more-link}}
    {{#date}}
        <span class="date-at-title">
            {{> Atoms-teaser-date }}
        </span>
    {{/date}}
</div>