<div class="main-slider-nav__item text-center" data-mh="slider-nav-gr">
    {{> Atoms-titles }}
    {{> Atoms-paragraph }}
    <div class="hidden-md hidden-lg">
        {{> Atoms-blue-btn }}
    </div>
</div>