<form action="#" id="contact-form">
    {{#inputs}}
        {{> Atoms-text-input }}
    {{/inputs}}
    {{#textarea}}
        {{> Atoms-textarea }}
    {{/textarea}}
    {{#submit}}
        {{> Atoms-submit-btn }}
    {{/submit}}
</form>