{{#link}}
    {{#a}}
        <!-- For simple link -->
        <a href="{{url}}">{{{a-text}}}</a>
        <!-- /For simple link -->
    {{/a}}
    {{#p}}
        <!-- For link at teaser -->
        <p class="pseudo-link">{{a-text}}</p>
        <!-- /For link at teaser -->
    {{/p}}
{{/link}}