<a href="#" class="logo">
    <div class="row">
        <div class="col-xs-6 col-sm-5 col-md-4" data-mh="logo-gr">
            {{> Atoms-image }}
        </div>
        <div class="col-xs-6 col-sm-7 col-md-8" data-mh="logo-gr">
            <p>
                Portal für Menschen mit Beeinträchtigung
            </p>
        </div>
    </div>
</a>