<section class="content-line bg-grey">
  <div class="container">
    {{#section-title}}
    <div class="row">
      <div class="col-xs-12">
        {{> Molecules-section-title }}
      </div>
    </div>
    {{/section-title}} {{#text}}
    <div class="row">
      <div class="col-xs-12">
        {{> Atoms-paragraph }}
      </div>
    </div>
    {{/text}}
    <div class="row teasers-row">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <div class="row">
          {{#teasers}}
          <div class="col-xs-12 col-md-6 teaser-wraper">
            {{> Molecules-teaser-type-1 }}
          </div>
          {{/teasers}}
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 hidden-xs">
        {{#promo-teasers}} {{> Molecules-promo-teaser }} {{/promo-teasers}}
      </div>
    </div>
  </div>
</section>