<nav class="b-main-nav">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
        {{> Atoms-login-btn }}
      </div>
      <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
        <form action="#" class="search-form">
          {{> Atoms-search-field }} {{> Atoms-search-btn }}
        </form>
      </div>
      <div class="col-xs-12">
        {{> Atoms-list }}
      </div>
    </div>
  </div>
</nav>