<ul class="pagination-list">
  {{#pagination-pages}}
  <li {{#isCurrent}}class="current" {{/isCurrent}}>
    <a href="#">{{page-number}}</a>
  </li>
  {{/pagination-pages}}
  <li>...</li>
  <li><a href="#">9</a></li>
</ul>