<article>
    {{#section-title}}
        {{> Molecules-section-title }}
    {{/section-title}}
    {{#article-title}}
        {{> Atoms-titles }}
    {{/article-title}}
    {{#article-paragraph}}
        {{> Atoms-paragraph }}
    {{/article-paragraph}}
</article>