<section class="content-line">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8">
                <div class="row">
                    {{#article}}
                        {{> Organisms-news-detail }}
                    {{/article}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                {{#promo-teasers}}
                    {{> Molecules-promo-teaser }}
                {{/promo-teasers}}
            </div>
        </div>
    </div>
</section>