<div class="content-line">
    <div class="container">
        {{#article-part}}
            <div class="row">
                <div class="col-xs-12">
                    {{> Organisms-suche-article }}
                </div>
            </div>
        {{/article-part}}
        {{#formular-part}}
            <div class="row formular-row">
                <div class="col-xs-12">
                    {{> Molecules-formular-form }}
                </div>
            </div>
        {{/formular-part}}
    </div>
</div>