<div class="main-nav-dropdown">
    <div class="container">
        <div class="row">
            {{#lists}}
                <div class="col-xs-12 col-sm-3">
                    <div class="list-title">
                        {{> Atoms-link }}
                    </div>
                    <ul>
                        {{#list-items}}
                        <li>
                            {{> Atoms-link }}
                        </li>
                        {{/list-items}}
                    </ul>
                </div>
            {{/lists}}
        </div>
    </div>
</div>