{{#header}}
    {{> Organisms-header }}
{{/header}}
{{#slider}}
    {{> Organisms-main-slider }}
{{/slider}}
{{#content-line-1}}
    {{> Organisms-welcome-section }}
{{/content-line-1}}
{{#content-line-2}}
    {{> Organisms-news-section }}
{{/content-line-2}}
{{#content-line-3}}
    {{> Organisms-contact-section }}
{{/content-line-3}}
{{#footer}}
    {{> Organisms-footer }}
{{/footer}}