<div class="b-pagination">
    <div class="wraper">
        <a href="#" class="pagination-arr pagination-arr_prev"></a>
        {{> Atoms-pagination }}
        <a href="#" class="pagination-arr pagination-arr_next"></a>
    </div>
</div>