// ------------------------------
// 
// Open Sans
// 
// ------------------------------
// Light
@font-face {
    font-family: 'OpenSans Light';
    src: url('../Fonts/opensans/OpenSans-Light.ttf') format('truetype');
}
// Regular
@font-face {
    font-family: 'OpenSans Regular';
    src: url('../Fonts/opensans/OpenSans-Regular.ttf') format('truetype');
}
// Semibold
@font-face {
    font-family: 'OpenSans Semibold';
    src: url('../Fonts/opensans/OpenSans-Semibold.ttf') format('truetype');
}
// Bold
@font-face {
    font-family: 'OpenSans Bbold';
    src: url('../Fonts/opensans/OpenSans-Bold.ttf') format('truetype');
}

// ------------------------------
// 
// VarelaRound
// 
// ------------------------------
// Regular
@font-face {
    font-family: 'VarelaRound Regular';
    src: url('../Fonts/varelaround/VarelaRound-Regular.ttf') format('truetype');
}