$icon-black-arrow-name: 'icon-black-arrow';
$icon-black-arrow-x: 178px;
$icon-black-arrow-y: 132px;
$icon-black-arrow-offset-x: -178px;
$icon-black-arrow-offset-y: -132px;
$icon-black-arrow-width: 15px;
$icon-black-arrow-height: 10px;
$icon-black-arrow-total-width: 196px;
$icon-black-arrow-total-height: 147px;
$icon-black-arrow-image: '../Images/sprites.png';
$icon-black-arrow: (178px, 132px, -178px, -132px, 15px, 10px, 196px, 147px, '../Images/sprites.png', 'icon-black-arrow', );
$icon-black-search-name: 'icon-black-search';
$icon-black-search-x: 0px;
$icon-black-search-y: 123px;
$icon-black-search-offset-x: 0px;
$icon-black-search-offset-y: -123px;
$icon-black-search-width: 26px;
$icon-black-search-height: 24px;
$icon-black-search-total-width: 196px;
$icon-black-search-total-height: 147px;
$icon-black-search-image: '../Images/sprites.png';
$icon-black-search: (0px, 123px, 0px, -123px, 26px, 24px, 196px, 147px, '../Images/sprites.png', 'icon-black-search', );
$icon-call-name: 'icon-call';
$icon-call-x: 178px;
$icon-call-y: 0px;
$icon-call-offset-x: -178px;
$icon-call-offset-y: 0px;
$icon-call-width: 18px;
$icon-call-height: 23px;
$icon-call-total-width: 196px;
$icon-call-total-height: 147px;
$icon-call-image: '../Images/sprites.png';
$icon-call: (178px, 0px, -178px, 0px, 18px, 23px, 196px, 147px, '../Images/sprites.png', 'icon-call', );
$icon-facebook-name: 'icon-facebook';
$icon-facebook-x: 68px;
$icon-facebook-y: 0px;
$icon-facebook-offset-x: -68px;
$icon-facebook-offset-y: 0px;
$icon-facebook-width: 40px;
$icon-facebook-height: 40px;
$icon-facebook-total-width: 196px;
$icon-facebook-total-height: 147px;
$icon-facebook-image: '../Images/sprites.png';
$icon-facebook: (68px, 0px, -68px, 0px, 40px, 40px, 196px, 147px, '../Images/sprites.png', 'icon-facebook', );
$icon-google-plus-name: 'icon-google-plus';
$icon-google-plus-x: 0px;
$icon-google-plus-y: 60px;
$icon-google-plus-offset-x: 0px;
$icon-google-plus-offset-y: -60px;
$icon-google-plus-width: 42px;
$icon-google-plus-height: 43px;
$icon-google-plus-total-width: 196px;
$icon-google-plus-total-height: 147px;
$icon-google-plus-image: '../Images/sprites.png';
$icon-google-plus: (0px, 60px, 0px, -60px, 42px, 43px, 196px, 147px, '../Images/sprites.png', 'icon-google-plus', );
$icon-green-arrow-name: 'icon-green-arrow';
$icon-green-arrow-x: 128px;
$icon-green-arrow-y: 90px;
$icon-green-arrow-offset-x: -128px;
$icon-green-arrow-offset-y: -90px;
$icon-green-arrow-width: 15px;
$icon-green-arrow-height: 10px;
$icon-green-arrow-total-width: 196px;
$icon-green-arrow-total-height: 147px;
$icon-green-arrow-image: '../Images/sprites.png';
$icon-green-arrow: (128px, 90px, -128px, -90px, 15px, 10px, 196px, 147px, '../Images/sprites.png', 'icon-green-arrow', );
$icon-login-name: 'icon-login';
$icon-login-x: 178px;
$icon-login-y: 86px;
$icon-login-offset-x: -178px;
$icon-login-offset-y: -86px;
$icon-login-width: 9px;
$icon-login-height: 26px;
$icon-login-total-width: 196px;
$icon-login-total-height: 147px;
$icon-login-image: '../Images/sprites.png';
$icon-login: (178px, 86px, -178px, -86px, 9px, 26px, 196px, 147px, '../Images/sprites.png', 'icon-login', );
$icon-search-name: 'icon-search';
$icon-search-x: 46px;
$icon-search-y: 123px;
$icon-search-offset-x: -46px;
$icon-search-offset-y: -123px;
$icon-search-width: 26px;
$icon-search-height: 24px;
$icon-search-total-width: 196px;
$icon-search-total-height: 147px;
$icon-search-image: '../Images/sprites.png';
$icon-search: (46px, 123px, -46px, -123px, 26px, 24px, 196px, 147px, '../Images/sprites.png', 'icon-search', );
$icon-section-title-1-name: 'icon-section-title-1';
$icon-section-title-1-x: 128px;
$icon-section-title-1-y: 42px;
$icon-section-title-1-offset-x: -128px;
$icon-section-title-1-offset-y: -42px;
$icon-section-title-1-width: 23px;
$icon-section-title-1-height: 28px;
$icon-section-title-1-total-width: 196px;
$icon-section-title-1-total-height: 147px;
$icon-section-title-1-image: '../Images/sprites.png';
$icon-section-title-1: (128px, 42px, -128px, -42px, 23px, 28px, 196px, 147px, '../Images/sprites.png', 'icon-section-title-1', );
$icon-section-title-2-name: 'icon-section-title-2';
$icon-section-title-2-x: 68px;
$icon-section-title-2-y: 60px;
$icon-section-title-2-offset-x: -68px;
$icon-section-title-2-offset-y: -60px;
$icon-section-title-2-width: 29px;
$icon-section-title-2-height: 26px;
$icon-section-title-2-total-width: 196px;
$icon-section-title-2-total-height: 147px;
$icon-section-title-2-image: '../Images/sprites.png';
$icon-section-title-2: (68px, 60px, -68px, -60px, 29px, 26px, 196px, 147px, '../Images/sprites.png', 'icon-section-title-2', );
$icon-section-title-3-name: 'icon-section-title-3';
$icon-section-title-3-x: 128px;
$icon-section-title-3-y: 0px;
$icon-section-title-3-offset-x: -128px;
$icon-section-title-3-offset-y: 0px;
$icon-section-title-3-width: 30px;
$icon-section-title-3-height: 22px;
$icon-section-title-3-total-width: 196px;
$icon-section-title-3-total-height: 147px;
$icon-section-title-3-image: '../Images/sprites.png';
$icon-section-title-3: (128px, 0px, -128px, 0px, 30px, 22px, 196px, 147px, '../Images/sprites.png', 'icon-section-title-3', );
$icon-section-title-4-name: 'icon-section-title-4';
$icon-section-title-4-x: 178px;
$icon-section-title-4-y: 43px;
$icon-section-title-4-offset-x: -178px;
$icon-section-title-4-offset-y: -43px;
$icon-section-title-4-width: 18px;
$icon-section-title-4-height: 23px;
$icon-section-title-4-total-width: 196px;
$icon-section-title-4-total-height: 147px;
$icon-section-title-4-image: '../Images/sprites.png';
$icon-section-title-4: (178px, 43px, -178px, -43px, 18px, 23px, 196px, 147px, '../Images/sprites.png', 'icon-section-title-4', );
$icon-section-title-5-name: 'icon-section-title-5';
$icon-section-title-5-x: 92px;
$icon-section-title-5-y: 123px;
$icon-section-title-5-offset-x: -92px;
$icon-section-title-5-offset-y: -123px;
$icon-section-title-5-width: 24px;
$icon-section-title-5-height: 22px;
$icon-section-title-5-total-width: 196px;
$icon-section-title-5-total-height: 147px;
$icon-section-title-5-image: '../Images/sprites.png';
$icon-section-title-5: (92px, 123px, -92px, -123px, 24px, 22px, 196px, 147px, '../Images/sprites.png', 'icon-section-title-5', );
$icon-twitter-name: 'icon-twitter';
$icon-twitter-x: 0px;
$icon-twitter-y: 0px;
$icon-twitter-offset-x: 0px;
$icon-twitter-offset-y: 0px;
$icon-twitter-width: 48px;
$icon-twitter-height: 40px;
$icon-twitter-total-width: 196px;
$icon-twitter-total-height: 147px;
$icon-twitter-image: '../Images/sprites.png';
$icon-twitter: (0px, 0px, 0px, 0px, 48px, 40px, 196px, 147px, '../Images/sprites.png', 'icon-twitter', );
$icon-white-arrow-name: 'icon-white-arrow';
$icon-white-arrow-x: 136px;
$icon-white-arrow-y: 123px;
$icon-white-arrow-offset-x: -136px;
$icon-white-arrow-offset-y: -123px;
$icon-white-arrow-width: 15px;
$icon-white-arrow-height: 10px;
$icon-white-arrow-total-width: 196px;
$icon-white-arrow-total-height: 147px;
$icon-white-arrow-image: '../Images/sprites.png';
$icon-white-arrow: (136px, 123px, -136px, -123px, 15px, 10px, 196px, 147px, '../Images/sprites.png', 'icon-white-arrow', );
$spritesheet-width: 196px;
$spritesheet-height: 147px;
$spritesheet-image: '../Images/sprites.png';
$spritesheet-sprites: ($icon-black-arrow, $icon-black-search, $icon-call, $icon-facebook, $icon-google-plus, $icon-green-arrow, $icon-login, $icon-search, $icon-section-title-1, $icon-section-title-2, $icon-section-title-3, $icon-section-title-4, $icon-section-title-5, $icon-twitter, $icon-white-arrow, );
$spritesheet: (196px, 147px, '../Images/sprites.png', $spritesheet-sprites, );

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

.icon {
  display: inline-block;
  vertical-align: middle;
  &.icon-login {
    @include sprite($icon-login);
  }
  &.icon-call {
    @include sprite($icon-call);
  }
  &.icon-search {
    @include sprite($icon-search);
  }
  &.icon-black-search {
    @include sprite($icon-black-search);
  }
  &.icon-white-arrow {
    @include sprite($icon-white-arrow);
  }
  &.icon-section-title-1 {
    @include sprite($icon-section-title-1);
  }
  &.icon-section-title-2 {
    @include sprite($icon-section-title-2);
  }
  &.icon-section-title-3 {
    @include sprite($icon-section-title-3);
  }
  &.icon-section-title-4 {
    @include sprite($icon-section-title-4);
  }
  &.icon-section-title-5 {
    @include sprite($icon-section-title-5);
  }
  &.icon-facebook {
    @include sprite($icon-facebook);
  }
  &.icon-twitter {
    @include sprite($icon-twitter);
  }
  &.icon-google-plus {
    @include sprite($icon-google-plus);
  }
}