// ------------------------------
// 
// Fonts
// 
// ------------------------------
$os-light:    'OpenSans Light';      // Open Sans Light
$os-regular:  'OpenSans Regular';    // Open Sans Light
$os-semibold: 'OpenSans Semibold';   // Open Sans Semibold
$vr-regular:  'VarelaRound Regular'; // VarelaRound Regular

// ------------------------------
// 
// Colors
// 
// ------------------------------
$color-1: #ffffff;
$color-2: #000000;
$color-3: #2c2c2c;
$color-4: #afcb0c;
$color-5: rgba(0,0,0,.5);
$color-6: #02336a;
$color-7: #6f99c9;
$color-8: #f2f2f2;
$color-9: #a2a2a2;
$color-10: #747474;
$color-11: #dc1d1d;