<a href="#" class="teaser teaser-type-1" data-mh="teaser-gr-1">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <div class="teaser__thumbnail">
        {{> Atoms-image }}
    </div>
    <div class="teaser__title">
        {{> Atoms-titles }}
    </div>
    <div class="teaser__desc">
        {{> Atoms-paragraph }}
    </div>
    <div class="teaser__more-link">
        {{> Atoms-link }}
    </div>
</a>