<header class="header">
  {{#login-block}} {{> Molecules-login-block }} {{/login-block}} {{#search-block}} {{> Molecules-search-block }} {{/search-block}} {{#navigation-block}} {{> Molecules-main-navigation }} {{/navigation-block}}
</header>